/* Add CSS Styling */

.IronHide,
.Bumblebee {
    font-size: 28px;
    font-family: Helvetica, "New Times Roman", sans-serif;
}

.IronHide {
    color: white;
    background-color: black;
}

.Bumblebee {
    background-color: yellow;
}