/* Add CSS Styling */

.Odd-Numbers {
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#Number-2 {
    color: blue;
    font-size: 36px;
}

#Number-3 {
    font-size: 24px;
}

#Number-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}